<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD NEW USER</title>
</head>
<body>
    <h1>ADDING NEW USERS</h1>
    <form action = '' method="post">
        <label>Name:</label>
        <input type = "text" name="name" required>
        <label>Age:</label>
        <input type ="number" name="age" required>
        <label>City:</label>
        <input type="text" name="city" required>
        <input type="submit" value="Save Details">
        
    </form>
</body>
</html>